<nav class="bg-white w-full z-40  border-b border-default shadow-2xs shadow-gray-200">
  <div class="container flex flex-wrap items-center justify-between p-1">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="./Images/logo-resize-2.png" class="h-12" alt="Social app Logo" />
      <span class="self-center text-xl main-text-colors font-semibold whitespace-nowrap">Social-App</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button"
        class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" src="./Images/default-profile.png" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
        id="user-dropdown">
        <div class="px-4 py-3 text-sm border-b border-default">
          <span class="block text-heading font-medium">Joseph McFall</span>
          <span class="block text-body truncate">name@flowbite.com</span>
        </div>
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
          <li>
            <a
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Dashboard</a>
          </li>
          <li>
            <a
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Settings</a>
          </li>
          <li>
            <a
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Earnings</a>
          </li>
          <li>
            <a class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Sign
              out</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul
        class="font-medium shadow-2xs bg-secondColor gap-2 text-gray-600 flex flex-col p-1 my-1 md:m-0 border-2 border-gray-200 rounded-base md:flex-row  rtl:space-x-reverse">


        <li routerLinkActive="text-mainColor bg-gray-50" routerLink="/feeds"
          class="cursor-pointer p-2 rounded-2xl  hover:bg-gray-50 hover:text-mainColor duration-300 flex justify-center items-center md:justify-between md:items-center">
          <i class="fa-solid fa-house-user"></i>
          <a class="">Feeds</a>
        </li>

        <li routerLinkActive="text-mainColor bg-gray-50" routerLink="/profile"
          class="cursor-pointer p-2 rounded-2xl  hover:bg-gray-50 hover:text-mainColor duration-300 flex justify-center items-center md:justify-between md:items-center">
          <i class="fa-solid fa-circle-user"></i>
          <a class="">Profile</a>
        </li>

        <li routerLinkActive="text-mainColor bg-gray-50" routerLink="/notifications"
          class="cursor-pointer p-2 rounded-2xl  hover:bg-gray-50 hover:text-mainColor duration-300 flex justify-center items-center md:justify-between md:items-center">
          <i class="fa-solid fa-bell"></i>
          <a class="">Notifications</a>
        </li>


      </ul>
    </div>
  </div>
</nav>