/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@utility container {
    margin-inline:auto;
}

@theme{
    --color-mainColor:#00298D;
    --color-secondColor:#F0F2F5;
}

@font-face {
    font-family: "default-font";
    src: url(./../public/Fonts/Fira_Sans/FiraSans-Regular.ttf);
}

body{
    background-color: var(--color-secondColor);
    font-family: "default-font";
}

.form-btn{
    @apply flex justify-center items-center gap-0.5 bg-mainColor text-lg font-bold text-white p-2 rounded-2xl w-full cursor-pointer hover:bg-indigo-800 duration-200 hover:shadow-2xl
}